* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(233, 233, 233);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* nav */
nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
}
.nav_logo a img {
  width: 100%;
  height: 100%;
}
.nav_search {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_search > form {
  width: 60%;
  height: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.nav_search > form > .box {
  width: 85%;
  height: 100%;
}
.nav_search > form > .icon {
  width: 15%;
  height: 100%;
  border: none;
  background-color: rgb(233, 233, 233);
  font-family: FontAwesome;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_login {
  width: 15%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_login > p > a {
  text-decoration: none;
  color: black;
}
.nav_login > p :hover {
  font-weight: bold;
  color: rgb(0, 0, 82);
}


/* menu */
#menu {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 82);
}
.clear_box {
  width: 50%;
}
.menu_normal {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_romance {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_assay {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_font {
  font-weight: bold;
  color: rgb(0, 0, 82);
}
.menu_hover:hover a {
  color: rgb(124, 124, 124);
}

/* recommend */
#recommend {
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.rec_title {
  height: 20%;
  margin-left: 35px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 82);
}
.rec_slide {
  width: 100%;
  height: 85%;
}
.slide_content {
  width: 100%;
  height: 90%;
}
.slidelist {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.rec_slide .slidelist > li {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: all 1s;
}
.slidelist > li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.slidelist > li > div > img {
  width: 20%;
  height: 100%;
  padding: 0 15px;
}

/* slide control */
.rec_slide input {display: none;}
.rec_slide .slide_content {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.rec_slide .slidelist {
  white-space: nowrap;
  /* 
    white-space : 요소 공백 처리
    nowrap : 가로로 긴 줄에서도 줄 바꿈을 하지 않고 표시
  */
  font-size: 0;
}
.rec_slide .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.rec_slide .slidelist .prev {
  left: -25px;
  background: url("../img/prev.png") center center / 40% no-repeat;
}
.rec_slide .slidelist .next {
  right: -25px;
  background: url("../img/next.png") center center / 40% no-repeat;
}
.rec_slide [id="slide01"]:checked ~ .slide_content .slidelist > li { transform: translateX(0%);}
.rec_slide [id="slide02"]:checked ~ .slide_content .slidelist > li { transform: translateX(-100%);}
.rec_slide [id="slide03"]:checked ~ .slide_content .slidelist > li { transform: translateX(-200%);}

.rec_slide .slide_control [class*=control] {display: none;}
.rec_slide [id="slide01"]:checked ~ .slide_content .control01 {display: block;}
.rec_slide [id="slide02"]:checked ~ .slide_content .control02 {display: block;}
.rec_slide [id="slide03"]:checked ~ .slide_content .control03 {display: block;}



/* event */
#event {
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.event_banner {
  width: 23%;
  height: 50%;
}
.event_banner img {
  width: 100%;
  height: 100%;
}

/* best */
#best {
  height: 250px;
}
.best_title {
  height: 20%;
  margin-left: 35px;
  color: rgb(0, 0, 82);
}
.best_content {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-around;
}
.best_content img {
  width: 14%;
  height: 100%;
}

/* footer */
.clear_box2 {
  height: 100px;
}
footer {
  height: 250px;
  background-color: rgb(0, 0, 82);
  font-size: 13px;
  border: 1px solid rgb(94, 92, 92);
}
.border a {
  color: white;
}
.border a:hover {
  color: gray;
}
.footer_content {
  color: rgb(199, 199, 199);
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
  line-height: 30px;
}
.footer_info {
  color: rgb(199, 199, 199);
  font-size: 10px;
  height: 30%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
